[submodule "z"]
	path = z
	url = https://github.com/phobos2390/z_fork.git
[submodule "z80"]
	path = z80
	url = https://github.com/phobos2390/z80.git
[submodule "catch2"]
	path = catch2
	url = https://github.com/catchorg/catch2.git
